body {
    font-family:Abril Fatface;
    background-color: #C4D8F8;
    color: #0107B8;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Abril Fatface";
    text-align:center;
    font-size:30pt;
}

h2 {
    margin: 0.1rem;
}


header {
    text-align:center;
}

#hero, footer {
    color:#0107B8; 
    border: 2px solid #115DAD;
    background-color:#AD4B3F;
    text-align:center;
    padding:10px;
}

/* Hero Section */

#hero img {
    width:350px;
}

/* Bio Section */

#bio {
    text-align:center;
}

/* Hobbies */

section#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Gallery */

#gallery {
    border: 2px solid #115DAD;
    margin-bottom:2rem;
}

#gallery img {
    max-width:100%;
}

/* Literature */
#lit {
    border: 2px solid #115DAD;
    margin-bottom:2rem;
}

#lit div {
    padding:2rem;
    max-width: 40rem;
    margin: 0 auto;
}

#lit div p {
    padding: 0.3rem 0;
    clear:both;
}

/* Dropcaps */

#lit div p:first-child:first-letter {
    color:#0107B8;
    float:left;
    font-size:3em;
    text-shadow: 2px 2px 3px rgba(0,0,0, .5);
}

    /* Tablet Size */
    @media screen and (min-width: 60em) {
        figure {
            display:grid;
            grid-template-columns: 2fr 1fr;
        }


        figcaption {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            margin-left: 1rem;
        }


        figure img {
            width: 100%;
        }

#lit div {
    max-width: 100%;
    columns:20rem;
}

    }

    /* Large Screen Size */

    @media screen and (min-width: 100em) {

        #gallery {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr; 
        }

        hr {
            display: none;
        }

        #gallery h2 {
            grid-column: 1/-1;
        }

        figure {
            display: block;
        }
    }